
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 60%;
}

.pricing-header {
  max-width: 45%;
}

.card-deck .card {
  min-width: 30%;
}

.logo {
  width:20%;
   height:20%;
}
.btn-outline-primary{
  margin-right: 0.5%;
}
a{
  color: black;
}
.p-2 .text-dark{
  font-size: 3vw; /* 3% of viewport width */
} 