
.container {
  max-width: 960px;
}
.pricing-header {
  max-width: 700px;
}
.card-deck .card {
  min-width: 220px;
}
.logo {
  width:20%;
   height:20%;
}
.btn-outline-primary{
  margin-right: 0.5%;
}
a{
  color: black;
}

.price{
  color:red;
}
.adv2 {
  display: none;
}
.adv3 {
  display: none;
}
.adv4 {
  display: none;
}