
.container {
  max-width: 960px;
}
.pricing-header {
  max-width: 700px;
}
.card-deck .card {
  min-width: 220px;
}
.logo {
  width:20%;
   height:20%;
}
.btn-outline-primary{
  margin-right: 0.5%;
}
a {
    color: black;
    text-decoration: none; 
   }
   a:visited {
    color: #800080; 
   } 
   a:hover {
    color: #800000; 
    text-decoration: underline; 
   }
.price{
  color:red;
}
.adv2 {
  display: none;
}
.adv3 {
  display: none;
}
.adv4 {
  display: none;
}
.sum{
width: 290px;
height: 101px;
opacity: 0.7;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
}